html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9b9ca70d;
  height: 100vh;
  font-size: 16px;
}

.container {
  padding: 70px;
}

.card {
  box-shadow: 1px 1px 70px rgba(143, 143, 143, 0.4);
  width: 50%;
  margin: auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

p {
  opacity: 0.7;
}

input[type="text"] {
  border: none;
  width: 80%;
  background-color: inherit;
  line-height: 50px;
  height: 50px;
  outline: none;
}

.italic-text {
  font-style: italic;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

button {
  border: none;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.h-rule {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.px-4 {
  padding: 0 16px;
}

.pa-4 {
  padding: 16px;
}

.pa-3 {
  padding: 8px;
}

.py-3 {
  padding: 8px 0;
}

.py-4 {
  padding: 16px 0;
}

.fa-solid {
  font-size: 14px;
  opacity: 0.5;
  cursor: pointer;
}

.clear-text {
  font-weight: 500;
  opacity: 0.3;
  cursor: pointer;
}

.edited-class {
  background-color: #ffffe0;
}

.line-through input[type="text"] {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .container {
    padding: 20px;
  }
}
